Repository nazahex/pendon: changes, and which lefthook commands are due for each by the changed paths.
All: rust, biome, dprint

rust:
  run: 'cargo fmt
  
    '
  stage_fixed: true

biome:
  run: 'command -v bun >/dev/null 2>&1 && bun run biome check --write {staged_files} || npx biome check --write {staged_files}
  
    '
  stage_fixed: true

dprint:
  run: 'command -v bun >/dev/null 2>&1 && bun run dprint fmt {staged_files} || dprint fmt {staged_files}
  
    '
  stage_fixed: true

feat(plugin-table): create extra attrs processor
  crates/plugin-table/src/attrs.rs
Due: rust

feat(plugin-table): create custom table handler
  crates/plugin-table/src/custom.rs
Due: rust

feat: register plugin-table
  apps/cli/Cargo.toml
  apps/cli/src/main.rs
  crates/plugin-table/README.md
  crates/plugin-table/src/lib.rs
Due: rust, dprint

feat: add support for advanced list syntax
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/start.rs
  crates/plugin-markdown/src/text.rs
Due: rust

feat(main): add sha2 dependency
  apps/cli/Cargo.toml
Due: dprint

refactor(main): modularize main cli
  apps/cli/src/cli.rs
  apps/cli/src/config.rs
  apps/cli/src/main.rs
  apps/cli/src/plugins.rs
  apps/cli/src/process.rs
  apps/cli/src/run.rs
  apps/cli/src/utils.rs
Due: rust

feat(main): implement caching mechanism
  apps/cli/src/cache.rs
Due: rust

feat(plugin-markdown): support multi-line comments
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/text.rs
Due: rust

docs: fix readme formatting
  crates/plugin-dialog/README.md
  crates/plugin-vicado/README.md
Due: dprint

feat(main): make cache work after file renaming ops
  apps/cli/src/process.rs
  apps/cli/src/run.rs
Due: rust

refactor(main): improve cache handling for moved files
  apps/cli/src/cache.rs
Due: rust

feat: add strip comments config
  apps/cli/src/cli.rs
  apps/cli/src/config.rs
  apps/cli/src/main.rs
  apps/cli/src/run.rs
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/text.rs
Due: rust

feat(plugin-custom): integrate inline custom plugin with core pipeline
  apps/cli/src/main.rs
  crates/plugin-custom/src/processor.rs
  crates/plugin-custom/src/processor/inline.rs
Due: rust

fix: improve extra attrs handling
  apps/cli/src/process.rs
  apps/cli/src/run.rs
  crates/plugin-anchor/src/lib.rs
  crates/plugin-cite/src/lib.rs
  crates/plugin-custom/src/processor/attrs.rs
  crates/plugin-custom/src/processor/util.rs
  crates/renderer-solid/src/template.rs
Due: rust

fix: enhance inline and block custom plugin parses
  crates/plugin-custom/src/processor/blockquote.rs
  crates/plugin-custom/src/processor/util.rs
  crates/plugin-markdown/src/end.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
Due: rust

fix(plugin-markdown): improve inline custom handling
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/start.rs
  crates/plugin-markdown/src/text.rs
Due: rust

feat(extra): create extra for unified extra syntax processor
  crates/extra/Cargo.toml
  crates/extra/src/lib.rs
Due: rust, dprint

fix(plugin-anchor): enhance extra attrs handling
  crates/plugin-anchor/Cargo.toml
  crates/plugin-anchor/README.md
  crates/plugin-anchor/src/lib.rs
Due: rust, dprint

fix(plugin-cite): enhance extra attrs handling
  crates/plugin-cite/Cargo.toml
  crates/plugin-cite/README.md
  crates/plugin-cite/src/lib.rs
Due: rust, dprint

fix(plugin-custom): introduce context aware processing
  crates/plugin-custom/src/lib.rs
  crates/plugin-custom/src/processor.rs
  crates/plugin-custom/src/processor/blockquote.rs
  crates/plugin-custom/src/processor/inline.rs
Due: rust

fix(plugin-custom): improve extra attrs, list, inline plugins, latex, and curly bracket handling
  crates/plugin-table/Cargo.toml
  crates/plugin-table/README.md
  crates/plugin-table/src/attrs.rs
  crates/plugin-table/src/custom.rs
  crates/plugin-table/src/lib.rs
  crates/plugin-table/src/parser.rs
  crates/plugin-table/src/render.rs
Due: rust, dprint

fix(plugin-custom): improve latex processing and support html renderer
  crates/plugin-latex/src/lib.rs
Due: rust

refactor(core): make a structured html elements emitted as real events instead of raw html string
  crates/core/src/event.rs
Due: rust

refactor(core): unify pielines
  crates/core/src/pipeline.rs
Due: rust

feat(core): create event validator
  crates/core/src/validate.rs
Due: rust

fix(core): improve lexer
  crates/core/src/lexer.rs
  crates/core/src/lib.rs
Due: rust

fix(plugin-img): improve extra attrs, list, inline plugins, latex, and curly bracket handling
  crates/plugin-img/Cargo.toml
  crates/plugin-img/README.md
  crates/plugin-img/src/lib.rs
Due: rust, dprint

fix(plugin-markdown): resolve inline processing inside structured html issues
  crates/plugin-markdown/README.md
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/end.rs
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
  crates/plugin-markdown/src/text.rs
Due: rust, dprint

fix(plugin-solid): resolve inline processing inside structured html issues
  crates/renderer-solid/src/node.rs
  crates/renderer-solid/src/template.rs
Due: rust

feat(plugin-html): escape literal braces and render extra attrs
  crates/renderer-html/src/compact.rs
  crates/renderer-html/src/lib.rs
  crates/renderer-html/src/pretty.rs
  crates/renderer-html/src/utils.rs
Due: rust

fix(plugin-heading): fix advanced heading parser issue
  crates/plugin-heading/Cargo.toml
  crates/plugin-heading/src/lib.rs
Due: rust, dprint

refactor(main): revamp pendon context and config
  apps/cli/Cargo.toml
  apps/cli/src/main.rs
  apps/cli/src/plugins.rs
  apps/cli/src/process.rs
  apps/cli/src/run.rs
Due: rust, dprint

feat(main): add heading custom node and config
  apps/cli/src/config.rs
  apps/cli/src/plugins.rs
  apps/cli/src/process.rs
Due: rust

feat(plugin-wiki): support inline formatting and latex
  crates/plugin-wiki/src/infobox.rs
  crates/plugin-wiki/src/options.rs
  crates/plugin-wiki/src/wikilink.rs
Due: rust

feat(plugin-dialog): support inline formatting and latex
  crates/plugin-dialog/Cargo.toml
  crates/plugin-dialog/src/lib.rs
  crates/plugin-dialog/src/markdown.rs
  crates/plugin-dialog/src/pipeline.rs
  crates/plugin-dialog/src/render.rs
Due: rust, dprint

feat(plugin-table): add ability to create custom component for thead, tbody, tfoot
  crates/plugin-table/src/custom.rs
  crates/plugin-table/src/lib.rs
  crates/plugin-table/src/render.rs
Due: rust

refactor: unify import config
  crates/plugin-anchor/src/lib.rs
  crates/plugin-cite/src/lib.rs
  crates/plugin-heading/src/lib.rs
  crates/plugin-img/src/lib.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
  crates/renderer-solid/src/imports.rs
Due: rust

fix: strip heading extra attrs from id
  crates/plugin-extract-heading/src/lib.rs
  crates/plugin-sectionize/src/lib.rs
Due: rust

Path conditions:
  rust: any of: *.rs
  biome: any of: *.{cjs,js,mjs,jsx,ts,tsx,json,jsonc,css}
  dprint: any of: *.{md,scss,sass,toml,yml,yaml}
