Repository nazahex/pendon: changes, and which lefthook commands are due for each by the changed paths.
All: rust, biome, dprint

lefthook.yaml:

# === COMMIT MESSAGE ===
commit-msg:
  commands:
    commitlint:
      run: >
        command -v bun >/dev/null 2>&1
        && bun commitlint --edit .git/COMMIT_EDITMSG
        || npx commitlint --edit .git/COMMIT_EDITMSG

# === PRE-COMMIT ===
pre-commit:
  parallel: true
  commands:

    # Rust
    rust:
      glob: "*.rs"
      run: >
        cargo fmt
      stage_fixed: true

    # JS / TS / JSON / CSS (Biome)
    biome:
      glob: "*.{cjs,js,mjs,jsx,ts,tsx,json,jsonc,css}"
      run: >
        command -v bun >/dev/null 2>&1
        && bun run biome check --write {staged_files}
        || npx biome check --write {staged_files}
      stage_fixed: true

    # Formatting (Markdown / YAML / TOML)
    dprint:
      glob: "*.{md,scss,sass,toml,yml,yaml}"
      run: >
        command -v bun >/dev/null 2>&1
        && bun run dprint fmt {staged_files}
        || dprint fmt {staged_files}
      stage_fixed: true

# === PRE-PUSH ===
pre-push:
  commands:

    # Full CI (single source of truth)
    ci:
      run: >
        command -v bun >/dev/null 2>&1
        && bun run ci
        || npm run ci

feat(syntax): route the extras heads per instance (§11) and land the §8 table layers
  apps/cli/src/components.rs
  apps/cli/src/plugins.rs
  crates/plugin-anchor/src/lib.rs
  crates/plugin-cite/src/lib.rs
  crates/plugin-heading/src/lib.rs
  crates/plugin-img/src/lib.rs
  crates/plugin-table/src/attrs.rs
  crates/plugin-table/src/custom.rs
  crates/plugin-table/src/grid.rs
  crates/plugin-table/src/lib.rs
  crates/plugin-table/src/parser.rs
  crates/plugin-table/src/render.rs
  crates/renderer-solid/src/components.rs
  crates/renderer-solid/src/lib.rs
  docs/spec/SYNTAX.md
  sandbox/unified/out/unified.jsx
  sandbox/unified/pendon.toml
  sandbox/unified/src/unified.md
Due: rust, biome, dprint

test(spec): freeze the §16.3 golden fixtures 01–09
  apps/cli/tests/syntax_spec.rs
  crates/plugin-wiki/src/wikilink.rs
  docs/spec/SYNTAX.md
  docs/spec/golden/01-extras-head.jsx
  docs/spec/golden/01-extras-head.md
  docs/spec/golden/01-extras-head.toml
  docs/spec/golden/02-extras-literal.jsx
  docs/spec/golden/02-extras-literal.md
  docs/spec/golden/02-extras-literal.toml
  docs/spec/golden/03-img-figure.jsx
  docs/spec/golden/03-img-figure.md
  docs/spec/golden/03-img-figure.toml
  docs/spec/golden/04-anchor.jsx
  docs/spec/golden/04-anchor.md
  docs/spec/golden/04-anchor.toml
  docs/spec/golden/05-cite.jsx
  docs/spec/golden/05-cite.md
  docs/spec/golden/05-cite.toml
  docs/spec/golden/06-heading.jsx
  docs/spec/golden/06-heading.md
  docs/spec/golden/06-heading.toml
  docs/spec/golden/07-wiki.jsx
  docs/spec/golden/07-wiki.md
  docs/spec/golden/07-wiki.toml
  docs/spec/golden/08-table-decl.jsx
  docs/spec/golden/08-table-decl.md
  docs/spec/golden/08-table-decl.toml
  docs/spec/golden/09-table-layers.jsx
  docs/spec/golden/09-table-layers.md
  docs/spec/golden/09-table-layers.toml
  sandbox/unified/out/unified.jsx
Due: rust, biome, dprint

chore(format): exclude the fixture trees from the formatter hooks
  .dprint.json
  biome.json
  crates/plugin-wiki/docs/demo.html
  lefthook.yaml
Due: biome, dprint

feat(cli): expose the pretty HTML mode through `--pretty`
  README.md
  apps/cli/src/main.rs
  apps/cli/tests/html_spec.rs
Due: rust, dprint

refactor(extra): enhance extras and decorator, remove old extras syntax
  crates/extra/src/bind.rs
  crates/extra/src/lib.rs
  crates/extra/src/typed.rs
  crates/extra/tests/extras_spec.rs
Due: rust

refactor: revamp extras syntax and mechanism
  crates/plugin-anchor/README.md
  crates/plugin-anchor/src/lib.rs
  crates/plugin-img/src/lib.rs
Due: rust, dprint

refactor(cite): total revamp for new unified syntaxes
  crates/plugin-cite/src/lib.rs
Due: rust

refactor(heading): total revamp for the new unified syntaxes
  crates/plugin-extract-heading/README.md
  crates/plugin-extract-heading/src/lib.rs
  crates/plugin-heading/src/lib.rs
Due: rust, dprint

refactor(markdown): integrate with the new unified syntaxes
  crates/plugin-markdown/Cargo.toml
  crates/plugin-markdown/README.md
  crates/plugin-markdown/examples/dump.rs
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/end.rs
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
  crates/plugin-markdown/src/text.rs
Due: rust, dprint

refactor(section): complete overhaul with new features and decorator
  crates/plugin-section/Cargo.toml
  crates/plugin-section/README.md
  crates/plugin-section/src/lib.rs
Due: rust, dprint

refactor(table): complete overhaul for the new unified syntaxes
  crates/plugin-table/src/attrs.rs
  crates/plugin-table/src/custom.rs
  crates/plugin-table/src/lib.rs
  crates/plugin-table/src/parser.rs
  crates/plugin-table/src/render.rs
Due: rust

feat(renderer): add internal marker __plugin_kind
  crates/renderer-html/src/utils.rs
  crates/renderer-solid/src/lib.rs
  crates/renderer-solid/src/node.rs
Due: rust

feat(directive): create new plugin-directive
  crates/plugin-directive/Cargo.toml
  crates/plugin-directive/src/block.rs
  crates/plugin-directive/src/inline.rs
  crates/plugin-directive/src/lib.rs
  crates/plugin-directive/tests/pipeline.rs
Due: rust, dprint

feat(list): create new plugin-list
  crates/plugin-list/Cargo.toml
  crates/plugin-list/README.md
  crates/plugin-list/src/lib.rs
  crates/plugin-list/tests/pipeline.rs
Due: rust, dprint

feat(marker): create new plugin-marker
  crates/plugin-marker/Cargo.toml
  crates/plugin-marker/src/lib.rs
Due: rust, dprint

feat(blockquote): create new plugin-blockquote
  crates/plugin-blockquote/Cargo.toml
  crates/plugin-blockquote/README.md
  crates/plugin-blockquote/src/lib.rs
  crates/plugin-blockquote/tests/pipeline.rs
Due: rust, dprint

feat(cli): integrate main cli with the new plugins
  apps/cli/Cargo.toml
  apps/cli/src/config.rs
  apps/cli/src/main.rs
  apps/cli/src/plugins.rs
  apps/cli/src/process.rs
  apps/cli/src/run.rs
  apps/cli/tests/cli_spec.rs
  apps/cli/tests/syntax_spec.rs
Due: rust, dprint

chore(core): create dump examle
  crates/core/examples/dump.rs
Due: rust

refactor(vicado): integrate with the new unified syntaxes
  crates/plugin-vicado/src/lib.rs
Due: rust

chore: set basic js configs
  package.json
  rigra.toml
  tsconfig.base.json
  turbo.json
Due: biome, dprint

docs: update todos
  TODO.md
  docs/todo/plugins-refactor.md
  docs/todo/syntaxes.md
Due: dprint

docs: freeze golden fixtures and update syntax docs
  docs/spec/SYNTAX.md
  docs/spec/golden/01-extras-head.jsx
  docs/spec/golden/02-extras-literal.jsx
  docs/spec/golden/02-extras-literal.md
  docs/spec/golden/03-img-figure.jsx
  docs/spec/golden/04-anchor.jsx
  docs/spec/golden/05-cite.jsx
  docs/spec/golden/05-cite.md
  docs/spec/golden/06-heading.jsx
  docs/spec/golden/07-wiki.jsx
  docs/spec/golden/08-table-decl.jsx
  docs/spec/golden/09-table-layers.jsx
  docs/spec/golden/09-table-layers.md
  docs/spec/golden/10-decorator-blocks.jsx
  docs/spec/golden/10-decorator-blocks.md
  docs/spec/golden/10-decorator-blocks.toml
  docs/spec/golden/11-blockquote.jsx
  docs/spec/golden/11-blockquote.md
  docs/spec/golden/11-blockquote.toml
  docs/spec/golden/12-list-container.jsx
  docs/spec/golden/12-list-container.md
  docs/spec/golden/12-list-container.toml
  docs/spec/golden/14-marker.jsx
  docs/spec/golden/14-marker.md
  docs/spec/golden/14-marker.toml
  docs/spec/golden/15-directive-inline.jsx
  docs/spec/golden/15-directive-inline.md
  docs/spec/golden/15-directive-inline.toml
  docs/spec/golden/16-directive-block.jsx
  docs/spec/golden/16-directive-block.md
  docs/spec/golden/16-directive-block.toml
  docs/spec/golden/22-section.jsx
  docs/spec/golden/22-section.md
  docs/spec/golden/22-section.toml
Due: biome, dprint

feat(extra): add bracket and parentheses support to line decorator
  crates/extra/Cargo.toml
  crates/extra/src/decorator.rs
  crates/extra/src/lib.rs
  crates/extra/src/typed.rs
  crates/extra/tests/extras_spec.rs
Due: rust, dprint

chore: register new plugins
  Cargo.toml
Due: dprint

docs: write contributing guidelines
  CONTRIBUTORS.md
Due: dprint

docs: add cache bypass cli option
  README.md
Due: dprint

feat: integrate positional keys that can be overriden by per entry config
  apps/cli/src/components.rs
  apps/cli/src/plugins.rs
  crates/plugin-anchor/README.md
  crates/plugin-anchor/src/lib.rs
  crates/plugin-blockquote/README.md
  crates/plugin-blockquote/src/lib.rs
  crates/plugin-cite/README.md
  crates/plugin-cite/src/lib.rs
  crates/plugin-directive/src/block.rs
  crates/plugin-directive/src/inline.rs
  crates/plugin-directive/src/lib.rs
  crates/plugin-directive/tests/pipeline.rs
  crates/plugin-extract-heading/src/lib.rs
  crates/plugin-heading/README.md
  crates/plugin-heading/src/lib.rs
  crates/plugin-img/README.md
  crates/plugin-img/src/lib.rs
  crates/plugin-list/README.md
  crates/plugin-list/src/lib.rs
  crates/plugin-markdown/README.md
  crates/plugin-markdown/src/lib.rs
  crates/plugin-marker/README.md
  crates/plugin-marker/src/lib.rs
  crates/plugin-section/README.md
  crates/plugin-section/src/lib.rs
  crates/renderer-solid/Cargo.toml
  crates/renderer-solid/src/components.rs
  crates/renderer-solid/src/template.rs
Due: rust, dprint

chore: store old syntect docs
  tools/scope/docs/grammar/html.md
  tools/scope/docs/grammar/rust.md
  tools/scope/docs/grammar/ts.md
Due: dprint

feat(core): support json and jsx attr
  crates/core/src/event.rs
  crates/extra/src/emit.rs
Due: rust

feat: create pendon plugin-bind
  apps/cli/Cargo.toml
  apps/cli/src/main.rs
  apps/cli/src/process.rs
  apps/cli/tests/syntax_spec.rs
  crates/extra/Cargo.toml
  crates/extra/README.md
  crates/extra/src/lib.rs
  crates/extra/src/typed.rs
  crates/extra/src/value.rs
  crates/extra/tests/extras_spec.rs
  crates/plugin-bind/Cargo.toml
  crates/plugin-bind/README.md
  crates/plugin-bind/src/lib.rs
  crates/renderer-ast/src/builder.rs
  crates/renderer-ast/src/lib.rs
  crates/renderer-solid/src/node.rs
Due: rust, dprint

chore: register plugin-bind
  Cargo.toml
Due: dprint

docs(golden): add plugin-bind fixtures
  docs/spec/golden/23-bind.jsx
  docs/spec/golden/23-bind.md
  docs/spec/golden/23-bind.toml
  docs/spec/golden/24-bind-paths.data/rows.csv
  docs/spec/golden/24-bind-paths.jsx
  docs/spec/golden/24-bind-paths.md
  docs/spec/golden/24-bind-paths.toml
  docs/spec/golden/README.md
Due: biome, dprint

docs: update syntax and parser docs
  docs/spec/PARSER.md
  docs/spec/SYNTAX.md
Due: dprint
