Repository nazahex/pendon: changes, and which lefthook commands are due for each by the changed paths.
All: rust, biome, dprint

rust:
  run: 'cargo fmt
  
    '
  stage_fixed: true

biome:
  run: 'command -v bun >/dev/null 2>&1 && bun run biome check --write {staged_files} || npx biome check --write {staged_files}
  
    '
  stage_fixed: true

dprint:
  run: 'command -v bun >/dev/null 2>&1 && bun run dprint fmt {staged_files} || dprint fmt {staged_files}
  
    '
  stage_fixed: true

test: enhance vicado mount test
  crates/plugin-vicado/src/lib.rs
Due: rust

feat: create pendon plugin-latex
  crates/plugin-latex/Cargo.toml
  crates/plugin-latex/src/lib.rs
Due: rust, dprint

feat: register wiki and latex plugin
  apps/cli/Cargo.toml
  tools/scope/src/main.rs
Due: rust, dprint

feat: register wiki and latex plugin fix #1
  apps/cli/src/main.rs
Due: rust

chore: add spinner widget utils
  crates/tui/src/widgets/mod.rs
  crates/tui/src/widgets/progress_bar.rs
  crates/tui/src/widgets/spinner.rs
Due: rust

chore: add scope tool cargo
  tools/scope/Cargo.toml
Due: dprint

docs: store outdated readme
  README.md
Due: dprint

fix: fix latex parsing issue
  crates/plugin-latex/src/lib.rs
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/math.rs
  crates/plugin-markdown/src/text.rs
Due: rust

feat: craete pendon plugin cite
  crates/plugin-cite/Cargo.toml
  crates/plugin-cite/src/lib.rs
Due: rust, dprint

docs: write plugin-cite docs
  crates/plugin-cite/README.md
Due: dprint

feat: craete pendon plugin anchor
  crates/plugin-anchor/Cargo.toml
  crates/plugin-anchor/src/lib.rs
Due: rust, dprint

docs: write plugin-anchor docs
  crates/plugin-anchor/README.md
Due: dprint

feat: enhance blockquote processing with improved paragraph matching
  crates/plugin-custom/src/processor/blockquote.rs
Due: rust

feat: add support for custom attributes in HTML rendering and handle frontmatter in templates
  crates/renderer-html/src/compact.rs
  crates/renderer-html/src/pretty.rs
  crates/renderer-solid/src/lib.rs
  crates/renderer-solid/src/node.rs
  crates/renderer-solid/src/template.rs
Due: rust

feat: add support for anchor and cite plugins with configuration options
  apps/cli/src/main.rs
Due: rust

feat: add plugin dependencies for anchor, cite, latex, vicado, and wiki
  Cargo.toml
  apps/cli/Cargo.toml
Due: dprint

fix: resolve anchor first paragraph issue
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
Due: rust

fix(plugin-anchor): remove prefix annotation
  crates/plugin-anchor/src/lib.rs
Due: rust

feat(plugin-custom): add support for custom inline syntax
  crates/plugin-custom/src/processor.rs
  crates/plugin-custom/src/processor/inline.rs
Due: rust

feat(core): create pipeline event processors
  crates/core/src/pipeline.rs
Due: rust

feat(core): register pipeline module
  crates/core/src/lib.rs
Due: rust

feat(plugin-img): add custom comp, full rendered capt, full plugin integration
  crates/plugin-img/Cargo.toml
  crates/plugin-img/src/lib.rs
Due: rust, dprint

feat(plugin-heading): create plugin-heading for advanced headings
  crates/plugin-heading/Cargo.toml
  crates/plugin-heading/src/lib.rs
Due: rust, dprint

refactor: integrate with new plugin-heading system
  crates/plugin-extract-heading/src/lib.rs
  crates/plugin-sectionize/src/lib.rs
Due: rust

refactor: support new heading plugin
  crates/renderer-html/src/compact.rs
  crates/renderer-html/src/pretty.rs
  crates/renderer-solid/src/node.rs
Due: rust

chore: delete deprecated specs
  apps/cli/tests/extract_heading_spec.rs
  apps/cli/tests/sectionize_spec.rs
Due: rust

fix: fix plugin-custom block issues
  crates/plugin-custom/src/processor/block.rs
  crates/plugin-custom/src/processor/blockquote.rs
Due: rust

refactor: remove anchor custom prefix
  crates/plugin-anchor/src/lib.rs
Due: rust

refactor: revamp plugin-cite with public context and custom comp
  crates/plugin-cite/src/lib.rs
Due: rust

refactor: rework main proccess with better context and pipeline handling
  apps/cli/src/main.rs
Due: rust

feat: register plugin-heading
  Cargo.toml
  apps/cli/Cargo.toml
Due: dprint

refactor: fix inline directive position issue
  crates/plugin-markdown/src/start.rs
Due: rust

refactor: detect heading and codefence in blockquote
  crates/plugin-markdown/src/text.rs
Due: rust

refactor: add multiline and list support for blockquote
  crates/plugin-custom/src/processor/blockquote.rs
Due: rust

docs: update readme
  crates/plugin-anchor/README.md
  crates/plugin-cite/README.md
  crates/plugin-img/README.md
Due: dprint

docs: add plugin-heading docs
  crates/plugin-heading/README.md
Due: dprint

feat: initiate plugin-table cargo
  crates/plugin-table/Cargo.toml
Due: dprint

feat(plugin-table): create advanced parser
  crates/plugin-table/src/parser.rs
Due: rust

feat(plugin-table): implement advanced table grid
  crates/plugin-table/src/grid.rs
Due: rust

feat(plugin-table): integrate advanced table render
  crates/plugin-table/src/render.rs
Due: rust

Path conditions:
  rust: any of: *.rs
  biome: any of: *.{cjs,js,mjs,jsx,ts,tsx,json,jsonc,css}
  dprint: any of: *.{md,scss,sass,toml,yml,yaml}
