Repository nazahex/pendon: changes, and which lefthook commands are due for each by the changed paths.
All: rust, biome, dprint

lefthook.yaml:

# === COMMIT MESSAGE ===
commit-msg:
  commands:
    commitlint:
      run: >
        command -v bun >/dev/null 2>&1
        && bun commitlint --edit .git/COMMIT_EDITMSG
        || npx commitlint --edit .git/COMMIT_EDITMSG

# === PRE-COMMIT ===
pre-commit:
  parallel: true
  commands:

    # Rust
    rust:
      glob: "*.rs"
      run: >
        cargo fmt
      stage_fixed: true

    # JS / TS / JSON / CSS (Biome)
    biome:
      glob: "*.{cjs,js,mjs,jsx,ts,tsx,json,jsonc,css}"
      run: >
        command -v bun >/dev/null 2>&1
        && bun run biome check --write {staged_files}
        || npx biome check --write {staged_files}
      stage_fixed: true

    # Formatting (Markdown / YAML / TOML)
    dprint:
      glob: "*.{md,scss,sass,toml,yml,yaml}"
      run: >
        command -v bun >/dev/null 2>&1
        && bun run dprint fmt {staged_files}
        || dprint fmt {staged_files}
      stage_fixed: true

# === PRE-PUSH ===
pre-push:
  commands:

    # Full CI (single source of truth)
    ci:
      run: >
        command -v bun >/dev/null 2>&1
        && bun run ci
        || npm run ci

docs: add README for pendon-plugin-sectionize with usage instructions and behavior details
  crates/plugin-sectionize/README.md
Due: dprint

docs: add README for pendon-plugin-micomatter with usage instructions and behavior details
  crates/plugin-micomatter/README.md
Due: dprint

docs: add README for pendon-plugin-extract-heading with usage instructions and behavior details
  crates/plugin-extract-heading/README.md
Due: dprint

docs: add README for pendon-plugin-markdown with usage instructions and behavior details
  crates/plugin-markdown/README.md
Due: dprint

fix: reorder import statements for clarity
  crates/plugin-custom/src/processor/block.rs
Due: rust

refactor: enhance code processing with improved attribute handling and parsing
  crates/plugin-codeblock-syntect/src/lib.rs
Due: rust

feat: implement line break handling for double spaces and backslashes
  crates/plugin-markdown/src/context.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/text.rs
Due: rust

refactor: improve readability of frontmatter extraction logic
  crates/plugin-micomatter/src/lib.rs
Due: rust

chore: init Cargo.toml files
  apps/cli/Cargo.toml
  crates/plugin-codeblock-syntect/Cargo.toml
  crates/plugin-custom/Cargo.toml
  crates/plugin-extract-heading/Cargo.toml
  crates/plugin-markdown/Cargo.toml
  crates/plugin-micomatter/Cargo.toml
  crates/plugin-quiz/Cargo.toml
  crates/plugin-sectionize/Cargo.toml
  crates/renderer-ast/Cargo.toml
  crates/renderer-events/Cargo.toml
  crates/renderer-html/Cargo.toml
  crates/renderer-json/Cargo.toml
  crates/renderer-solid/Cargo.toml
  crates/tui/Cargo.toml
Due: dprint

feat: enhance CodeFence rendering with class attribute support and strip classes from lines
  crates/renderer-html/src/compact.rs
  crates/renderer-html/src/pretty.rs
Due: rust

feat: enhance SolidRenderHints structure and improve import normalization logic
  crates/renderer-solid/src/imports.rs
  crates/renderer-solid/src/lib.rs
  crates/renderer-solid/src/node.rs
Due: rust

feat: refactor ID extraction and slugification logic into core utilities
  crates/plugin-sectionize/src/lib.rs
Due: rust

feat: integrate quiz plugin processing and enhance solid hints merging logic
  apps/cli/src/main.rs
Due: rust

feat: implement inline markup processing and pattern matching functions
  crates/plugin-codeblock-syntect/src/inline.rs
Due: rust

feat: add parsing functionality for inline patterns and line ranges
  crates/plugin-codeblock-syntect/src/info.rs
Due: rust

feat: implement line wrapping functionality with HTML output and tests
  crates/plugin-codeblock-syntect/src/wrap.rs
Due: rust

feat: add highlight output functionality with syntax selection and HTML minimization
  crates/plugin-codeblock-syntect/src/highlight.rs
Due: rust

feat: enhance inline processing for images and links with title attributes
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/start.rs
  crates/plugin-markdown/src/text.rs
Due: rust

feat: add support for title attributes in links and images in HTML rendering
  crates/renderer-ast/src/builder.rs
  crates/renderer-ast/src/lib.rs
  crates/renderer-html/src/compact.rs
  crates/renderer-html/src/lib.rs
  crates/renderer-html/src/pretty.rs
Due: rust

feat: enhance code rendering to support raw HTML and image attributes
  crates/renderer-solid/src/lib.rs
  crates/renderer-solid/src/node.rs
Due: rust

chore: add initial Cargo.toml for pendon-plugin-wiki with dependencies
  crates/plugin-wiki/Cargo.toml
Due: dprint

feat: add new plugins and enhance CLI functionality with Vicado and Dialog support
  apps/cli/src/main.rs
  apps/cli/tests/cli_spec.rs
  apps/cli/tests/extract_heading_spec.rs
  apps/cli/tests/html_spec.rs
  apps/cli/tests/solid_spec.rs
  crates/core/src/event.rs
Due: rust

feat: add dialog screenplay plugin with parsing and rendering support
  crates/plugin-dialog/Cargo.toml
  crates/plugin-dialog/README.md
  crates/plugin-dialog/src/charmap.rs
  crates/plugin-dialog/src/lib.rs
  crates/plugin-dialog/src/markdown.rs
  crates/plugin-dialog/src/pipeline.rs
  crates/plugin-dialog/src/render.rs
  crates/plugin-dialog/src/tokenize.rs
Due: rust, dprint

feat: implement infobox processing and wikilink support in plugin-wiki
  crates/plugin-wiki/src/infobox.rs
  crates/plugin-wiki/src/lib.rs
  crates/plugin-wiki/src/options.rs
  crates/plugin-wiki/src/util.rs
  crates/plugin-wiki/src/wikilink.rs
Due: rust

feat: add advanced image syntax plugin with figure and decorated image support
  crates/plugin-img/Cargo.toml
  crates/plugin-img/README.md
  crates/plugin-img/src/lib.rs
Due: rust, dprint

fix: correct spelling of 'micromatter' in README and error messages
  crates/plugin-micomatter/README.md
  crates/plugin-micomatter/src/lib.rs
Due: rust, dprint

feat: add Vicado plugin with code fence processing and Solid integration
  crates/plugin-vicado/Cargo.toml
  crates/plugin-vicado/README.md
  crates/plugin-vicado/src/lib.rs
Due: rust, dprint

feat: implement quiz processing with feedback and choice extraction
  crates/plugin-quiz/src/lib.rs
Due: rust

feat: enhance codefence processing to support body content and minification
  crates/plugin-custom/src/processor/codefence.rs
Due: rust

feat: add map_classes_to_tag function for class to tag mapping
  crates/plugin-codeblock-syntect/src/mappers/default.rs
Due: rust

docs: add README for pendon-plugin-syntect with usage and behavior details
  crates/plugin-codeblock-syntect/README.md
Due: dprint

fix: correct micromatter usage typo
  crates/plugin-extract-heading/README.md
  crates/plugin-markdown/README.md
  crates/plugin-sectionize/README.md
Due: dprint

feat: add missing plugin dependencies for dialog, img, vicado, and wiki
  apps/cli/Cargo.toml
Due: dprint

refactor: remove unused locales module from lib.rs
  crates/tui/src/lib.rs
Due: rust

chore: rename dir 'micomatter' to 'micromatter'
  crates/plugin-markdown/src/helpers.rs
  crates/plugin-markdown/src/lib.rs
  crates/plugin-markdown/src/text.rs
  crates/plugin-micomatter/src/lib.rs
  crates/plugin-micromatter/Cargo.toml
  crates/plugin-micromatter/README.md
  crates/plugin-micromatter/src/lib.rs
Due: rust, dprint

fix: fix p tag at plugin-dialog
  crates/plugin-dialog/src/markdown.rs
  crates/plugin-dialog/src/pipeline.rs
Due: rust

fix: fix tag issue at plugin-img
  crates/plugin-img/src/lib.rs
Due: rust

fix: resolve list inside quiz issue fix #2
  crates/plugin-quiz/src/lib.rs
Due: rust

fix: fix tag issue at plugin-wiki infobox
  crates/plugin-wiki/src/infobox.rs
Due: rust

fix: resolve wikilink problem
  crates/plugin-wiki/src/wikilink.rs
Due: rust
